@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);    
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;

    /* color: #aa4465; */
    color:#F5F9E9;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-repeat: no-repeat;
    width: 100%;
}

.routine-container {
    height: 100vh;
}
#aboutCuadro {
    margin: 0px auto;
    max-width: 860px;
    line-height: 1.5;
    list-style-type: disc;;
    padding: 25px;
}

#aboutCuadro li {
    margin: 10px 0px;
    text-align: justify;
}


.hidden {
    display: none;
}

input {
    color: #101612;
    background-color: #b7cddf;
    border: none;
    width: 200px;
    font-size: 18px;
}

input:focus {
    outline: none;
}

.title {
    margin: 15px;
}
.interacciones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.interacciones {
    display: flex;
    margin: 0px 15px;
}

.interacciones li {
    padding: 12px;
}

caption {
    font-size: 10px;
}

th {
    font-size: 8px;
}

td {
    font-size: 10px;
}


button {
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #cfd5db4d;
    font-weight: 600;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}




.btn:hover {
    color: #36453B;;
    background-color: #a0e8af;
}

ul {
    list-style: none;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 50%;
}

table {
    text-align: left;
    border-collapse: collapse;
    margin: 20px auto 20px auto;
    border-spacing: 0;
}

th, td {
    background-color: #101612;
    border-top: 0.5px solid #a4a3a3;
    border-bottom: 0.5px solid #a4a3a3;;
    vertical-align: middle;
    width: 42px;
    height: 44px;
}

a {
    text-decoration: none;
}

h1 span{
    font-size: 20px;
}

h2 {
    font-size: 16px;
}


.modal-textos p {
    width: 470px;
    margin: 10px auto;
}
label {
    margin: 15px auto;
}


p {
    font-size: 10px;
}


#darkmode-label {
    width: 40px;
    height: 15px;
    position: absolute;
    top:2px;
    right:10px;
    background: #ebebeb;
    display: block;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 0px;
}

#darkmode-label::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

.darkBC {
    background-color: #242424;
}

#darkmode-toggle:checked + #darkmode-label{
    background: #242424;
}

#darkmode-toggle:checked + #darkmode-label::after{
    left: 37px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

/*El after tiene un tamaño fijo, cuando sale, y cuando llega. Lo que hace esto es manipular su tamaño DURANTE la transición de un lado al otro.*/
#darkmode-label:active::after {
    width: 20px;
}


@media screen and (min-width:976px){
    p {
        font-size: 14px;
    }
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    th, td {
        width: 112px;
        height: 74px;
    }
    th, td {
        font-size: 14px;
    }
    caption {
        font-size: 22px;
    }
    table {
        margin: 40px auto 100px auto;
    }
}

.modal-container {
    flex-wrap: wrap;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-hidden {
    opacity: 0;
    visibility: hidden; 
}



.modal {
    /* max-width: 1200px;
    max-height: 800px;*/
    width: 90%;
    max-height: 600px;

    background-color: rgba(24, 19, 19, 0.9);
    text-align: center;
    position: relative;
    transition: transform 400ms;
    transform: translateY(0%);
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px 45px;
    border-radius: 20px;
}

.modal button { 
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.modal p {
    margin: 10px 0px;
}

/*comment*/
.modal-close {
    transition: transform 500ms;
    transform: translateY(-500%);
}

input {
    padding: 4px;
}

.close {
    position: absolute;
    top:5px;
    right: 12px;
    display: inline-block;
    width: 32px;
    height: 20px;
    line-height: 0;
    cursor: pointer;
}

.close:hover {
    color: #36453B;;
    background-color: #a0e8af;
}

.introTT {
    background-color: #242424;
    line-height: 1.5;
}