@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;

    /* color: #aa4465; */
    color:#F5F9E9;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-repeat: no-repeat;
    width: 100%;
}

#aboutCuadro {
    margin: 0px auto;
    width: 860px;
    line-height: 1.5;
    list-style-type: disc;;
}

#aboutCuadro li {
    margin: 10px 0px;
    text-align: justify;
}


.hidden {
    display: none;
}

input {
    color: #101612;
    background-color: #b7cddf;
    border: none;
    width: 200px;
    font-size: 18px;
}

input:focus {
    outline: none;
}

.title {
    margin: 15px;
}
.interacciones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.interacciones {
    display: flex;
    margin: 0px 15px;
}

.interacciones li {
    padding: 12px;
}

caption {
    font-size: 10px;
}

th {
    font-size: 8px;
}

td {
    font-size: 10px;
}


.btn {
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #cfd5db4d;
    font-weight: 600;
    cursor: pointer;
    display: block;
    margin: 0px auto;
}




.btn:hover {
    color: #36453B;;
    background-color: #a0e8af;
}

ul {
    list-style: none;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 50%;
}

table {
    text-align: left;
    border-collapse: collapse;
    margin: 20px auto 20px auto;
    border-spacing: 0;
}

th, td {
    background-color: #101612;
    border-top: 0.5px solid #a4a3a3;
    border-bottom: 0.5px solid #a4a3a3;;
    vertical-align: middle;
    width: 42px;
    height: 44px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}


.modal-textos p {
    width: 470px;
    margin: 10px auto;
}
label {
    margin: 15px auto;
}


p {
    font-size: 10px;
}

@media screen and (min-width:976px){
    p {
        font-size: 14px;
    }
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    th, td {
        width: 112px;
        height: 74px;
    }
    th, td {
        font-size: 14px;
    }
    caption {
        font-size: 22px;
    }
    table {
        margin: 40px auto 100px auto;
    }
}


/*
Devolver opacity visibility y position a modal container
Y tal vez sacarle el flexwrap
*/


.modal-container {
    flex-wrap: wrap;
    /*uncomment*/

    position: fixed;
   
     /*uncomment*/
    z-index: 10;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-hidden {
    opacity: 0;
    visibility: hidden; 
}

.modal {
    max-width: 1200px;
    max-height: 800px;
    /* background-color: rgba(23, 44, 68, 0.9); */
    background-color: rgba(24, 19, 19, 0.9);
    text-align: center;
    /*descomentar*/
    position: relative;
    /*descomentar*/
    transition: transform 400ms;
    transform: translateY(0%);
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    

    /*agregado*/
    /* visibility: hidden; */
}

.modal p {
    margin: 10px 0px;
}

/*comment*/
.modal-close {
    transition: transform 500ms;
    transform: translateY(-200%);

    /*agregado*/
    visibility: visible;
}

.close {
    position: absolute;
    top:5px;
    right: 5px;
    display: inline-block;
    width: 32px;
    height: 20px;
    line-height: 0;
    cursor: pointer;
}

.close:hover {
    color: #36453B;;
    background-color: #a0e8af;
}